// colors
$black: black;
$white: white;
$blue: rgb(14, 91, 207);
$pink: rgba(221, 160, 221, 0.824);
$lightwhite: rgba(255, 255, 255, 0.842);
$orange: rgba(255, 166, 0, 0.831);
$red: rgba(255, 51, 0, 0.765);



