.article {
    background-color: $lightwhite;
    width: 65vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid $black;
    border-radius: 10px;
    font-family: Inconsolata;

    &__title {
        padding: 10px;
    }

    &__list {
        width: 64vw;
        height: auto;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        overflow-x: auto;
    }

}
.li {
    list-style: none;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.favResult {
    color: $blue;
    border: 3px solid $blue;
    width: auto;
    height: auto;
}