.aside {
    background-color: $pink;
    width: 30vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid $black;
    border-radius: 10px;
    font-family: Inconsolata;

    &__title {
        padding: 10px;
    }

    &__list {
        width: 29vw;
        height: auto;
    }
}
.favAside {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}
