.header {
  height: 15vh;
  width: 40vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__title {
    color: $black;
    background-color: $orange;
    width: 450px;
    border: 2px solid $black;
    border-radius: 20px;
    padding: 5px;
    font-family: Inconsolata;
    
  }

  &__form {
    display: flex;
    flex-direction: row;

    &--input {
      border: 2px solid $black;
      width: 400px;
      height: 30px;
      padding: 10px;
      font-family: Inconsolata;
    }
    &--btn {
      background-color: $black;
      color: $white;
      font-weight: bold;
      margin-left: 30px;
      padding: 4px 10px;
      border-radius: 20px;
      font-family: Inconsolata;
      text-transform: uppercase;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        box-shadow: 0 0 10px 0 $black inset, 0 0 10px 4px $black;
      }
    }
  }

  &__message {
    color: $black;
    font-weight: bold;
    background-color: $red;
    border: 2px solid $black;
    font-family: Inconsolata;
    width: 450px;
    border-radius: 20px;
    padding: 5px;
  }
}

